.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.7rem 10rem;
  min-width: 100%;
  z-index: 100;
}

header.active {
  background-color: #022916;
}

ul {
  display: flex;
  gap: 3rem;
}
ul a {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
}

ul a.active,
ul a:hover {
  color: #069c51;
  font-weight: 300;
}

header .logo {
  font-size: 2rem;
  color: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

header .logo span {
  color: #069c51;
}

.menu i {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  html {
    font-size: 53%;
  }

  .menu i {
    display: block;
  }

  header .nav .nav-bar {
    width: 100%;
    top: -100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    flex-flow: column;
    padding: 2rem 0;
  }

  header .nav-bar {
    text-align: center;
    width: 100%;
  }
  header .nav-bar li {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    display: block;
  }
}
