.service-box {
  padding: 1rem 1.5rem;
  margin: 0.6rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.service-box:hover {
  transform: scale(1.04);
}

.truck {
  padding: 1rem;
  background: var(---white);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(---primary);
}

.text {
  margin-left: 1rem;
}

.text h2 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(---white);
}
.text h3 {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(---white);
  margin: 0.5rem 0;
}

.text p {
  font-size: 1rem;
  color: var(---white);
}
