header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  padding: 1rem 5rem;
  z-index: 100;
}

header.active {
  background-color: #022916;
  box-shadow: 0 0.01rem 0.1rem #fff;
}

.logo h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #fff;
}

.logo h2 span {
  color: #069c51;
}

.nav-bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar ul a {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.nav-bar ul li:hover {
  color: #069c51;
}

.header .menu {
  font-size: 3rem;
  color: #069c51;
  cursor: pointer;
  display: none;
}

.nav-bar ul a.active,
.nav-bar ul a:hover {
  color: #069c51;
  font-weight: 300;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 1.5rem;
    z-index: 1000;
  }

  .header .menu {
    display: block;
  }

  header .nav-bar {
    display: none;
  }

  .nav-mobile-link {
    width: 100%;
    top: 5rem;
    left: 0;
    position: fixed;
    background: #fff;
    bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    flex-flow: column;
  }

  .nav-mobile-link ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  .nav-mobile-link ul li {
    margin: 0.5rem 0;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: #069c51;
    display: block;
  }

  .head {
    padding-top: 8rem;
  }
  /* about  */
  .hero-container,
  .hero-container1,
  .product-box {
    width: 90%;
  }

  .hero .contain {
    padding: 1rem;
  }

  .hero .contain h3 {
    margin-bottom: 1rem;
  }
  .hero .contain p {
    font-size: 1.2rem;
    color: #333;
    padding: 0.4rem 0;
  }

  /* about */

  .hero1 .contain1,
  .hero1 .image1 {
    /* flex: 1 1 35rem; */
    padding: 0.5rem;
  }

  .hero-container1 {
    padding: 1rem;
  }

  .hero1 .contain {
    padding: 1rem;
  }

  .service-box {
    display: none;
  }

  .img-image {
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }
  /* product  */
  .product-box {
    width: 95%;
  }

  .box-container {
    width: 90%;
  }

  /* form  */
  form {
    width: 90%;
    margin: 0 auto;
    margin: 2rem 1rem;
    text-align: center;
  }

  /* details */

  .product_details {
    padding: 2rem;
  }

  .related-box {
    width: 95%;
  }

  .related-box .related-img {
    width: 8rem;
    height: 10rem;
    margin: 0.5rem;
  }

  .relate-prod {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
